<div data-ng-controller="ListController">
    <table>
        <tr ng-repeat="activity in activities">
            <td>{{activity.Title}}</td>
            <td>
                <a href="#/details/{{activity.Id}}">
                    Details
                </a>
                <button ng-show="{{activity.Status}}===0" class="btn btn-default" ng-click="start(activity)">Start</button>
                <button ng-show="{{activity.Status}}===1" class="btn btn-default" ng-click="stop(activity)">Stop</button>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="create()">Add Activity</button>
<!--    <div ng-include="'/Client/views/edit.html'">
    </div>-->
</div>