<div data-ng-controller="ListController">
    
    <div ng-include="'/Client/views/edit.html'"></div>
    <table>
        <tr ng-repeat="activity in activities">
            <td>{{activity.Title}}</td>
            <td ng-show="activity.CanResume()">Stopped</td>
            <td ng-show="activity.CanStop()" ng-bind="timer.GetActivityDuration()"></td>
            <td>
                <button ng-show="activity.CanStart()" class="btn btn-default" ng-click="start(activity)">Start</button>
                <button ng-show="activity.CanStop()" class="btn btn-default" ng-click="stop(activity)">Stop</button>
                <button ng-show="activity.CanComplete()" class="btn btn-default" ng-click="done(activity)">Done</button>
            </td>
        </tr>
    </table>
    <div><span>Tasks for today - {{activities.length}}</span></div>

    <!-- <div ng-include="'/Client/views/edit.html'">
    </div>-->
</div>