@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/activityHelper.js"></script>
    <script src="~/Client/Scripts/activityTrackerMain.js"></script>
    <script src="~/Client/Scripts/activityService.js"></script>
    <script src="~/Client/Scripts/listController.js"></script>
    <script src="~/Client/Scripts/activityEdit.js"></script>
}

<div data-ng-app="activityTrackerApp">
    <ng-view></ng-view>
</div>